<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Certeza que deseja apagar {{ cliente.nome }}?</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Apagar</button>
    </form>
    <a href="{% url 'clienteList' %}">Voltar</a>
</body>
</html>